ul.navi {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6441a5;
}

li {
float: left;
border-right: 1px solid #9e69c6;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: bold;
}

li a:hover {
background-color: #ffffff;
color: #6441a5;
}

.active {
    background-color: #7b5499;
}
